ul{
    margin: 0;
    padding: 0;
    background-color: crimson;
    overflow: hidden;
}

ul li{

    float: left;
    list-style-type: none;
}
ul li a{
  color: white;
  padding: 12px 16px;
  display: inline-block ;
  text-decoration: none;

}
ul li a:hover{
background: maroon;
}


